/* CSS reset
    (all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


/* General styles
    (the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
    font-family: 'EB Garamond', serif;
    font-size: 16px;
}
ul {
    list-style-type: none;
}
/*font-family: 'Quicksand', sans-serif;
font-family: 'EB Garamond', serif;*/

/* Header styles
    (all the styles inside the < header > or < nav > tags)
*/
.top-navigation {
    height: 4rem;
    /*position: fixed;*/
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    font-family: 'Quicksand', sans-serif;
}
.top-navigation .content {
   padding: 1rem 1rem;
}
.content .links li {
    float: right;
    margin-left: 1.5rem;
}

/* Content styles
    (all the styles inside the < sections > or < aside > tags)
*/
.introduction {
   background-image: url(http://tinyurl.com/hqzqrq9);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   /*filter: blur(3px);*/
   /*background-color: LightGrey;*/
   height: 35rem;
   text-align: center;
   overflow: auto
}
.introduction button {
    margin: 20rem auto;
    width: 10rem;
    background-color: #fff
    text-shadow: none;
    padding: 5rem 0;
    text-align: center;
    border-radius: 4px;

}
.profile .content p,
.profile .content h2 {
    float: right;
}
.portfolio .work > li {
    float: left;
    width: 33.3333%;
}
/* Footer styles
    (all the styles inside the < footer > tag)
*/
footer {
    background-color: LightGrey;
    height: 10rem;
    text-align: center;
}

/* Responsive styles
    (the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
*/