    /* CSS reset
    (all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

    * {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
        box-sizing: border-box;
        /*reset Chrome user agent styles*/
        -webkit-margin-before: 0px;
        -webkit-margin-after: 0px;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-before: 0px;
        -webkit-padding-after: 0px;
        -webkit-padding-start: 0px;
        -webkit-padding-end: 0px;
    }
    /* General styles
    (the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/

    body {
        font-family: 'Slabo 13px', serif;
        font-size: 16px;
        background-image: url(../images/color-overlay.jpg);
    }

    .text {
        font-family: 'UniqueRegular', serif;
    }
    /* Header styles
    (all the styles inside the < header > or < nav > tags)
*/

    .navbar {
        background-image: url(../images/color-overlay.jpg);
    }

    .navbar-brand img {
        width: 3rem;
    }

    .navbar-default {
        border: none;
    }
    /* Content styles
    (all the styles inside the < sections > or < aside > tags)
*/
    /*Jumbotron Styles*/

    .hero .jumbotron {
        background-image: url(../images/ballons.jpg);
        height: 70rem;
        background-size: cover;
        background-position: top;
        text-transform: uppercase;
    }

    .hero .jumbotron .stand {
        margin-top: 14rem;
        color: #3785A8;
    }

    .hero .jumbotron h3 {
        font-size: 7.5rem;
        text-shadow: 2px 2px 1px #c0c0c0, -2px -2px 1px #c0c0c0, -2px 2px 1px #c0c0c0, 2px -2px 1px #c0c0c0;
    }

    .hero .fa-chevron-down {
        font-size: 5rem;
        color: #3785A8;
    }
    /*Intro Styles*/

    .introduction {
        margin-top: 11rem;
        clear: both;
        height: 40rem;
        text-align: left;
    }

    .introduction h1 {
        margin-bottom: 6rem;
    }

    .introduction h3 {
        margin-top: 6rem;
    }

    .introduction a.thinkful {
        color: #6799FF;
        text-transform: uppercase;
        font-family: "Open Sans", sans-serif;
    }

    .introduction .circle {
        border-radius: 50%;
        width: 25rem;
        -webkit-box-shadow: 3px 3px 30px 5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 3px 3px 30px 5px rgba(0, 0, 0, 0.75);
        box-shadow: 3px 3px 30px 5px rgba(0, 0, 0, 0.75);
    }
    /*Portfolio Styles*/

    .portfolio {
        clear: both;
        margin-top: 11rem;
        text-align: center;
        margin-bottom: 11rem;
    }

    .portfolio h4 {
        font-size: 2.5rem;
    }

    .box {
        height: 40rem;
        background-color: #FAF9F7;
    }

    .bg1 {
        background-color: #3886AA;
    }

    .bg2 {
        background-color: #1F7E7A;
    }

    .portfolio img {
        margin-top: 2rem;
        max-width: 60%;
        max-height: 40rem;
    }

    .portfolio .logo {
        width: 10rem;
    }
    /*Talk Styles*/

    .contact-form {
        height: 50rem;
    }

    #message {
        height: 20rem;
    }
    /* Footer styles
    (all the styles inside the < footer > tag)
*/

    footer {
        background-color: #c4c4cf;
        color: #faf9f7;
        height: 10rem;
        text-align: center;
    }

    footer a {
        color: #faf9f7;
        text-decoration: none;
    }

    footer .fa {
        margin-right: 1.5rem;
        margin-top: 1rem;
    }
    /* Responsive styles
    (the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
*/
